@model List<Article>

@* <div class="col-md-8">
    <h3 class="mb-4">Blog Listesi</h3>

    <!-- Blog 1 -->



    <div class="card mb-4">
        <img src="@item.CoverImageUrl" class="card-img-top" style="width:855px;height:450px;" alt="Blog Kapak">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">
                <small class="text-muted">Kategori: @item.Category.CategoryName | Yazar: @item.AppUser.Name @item.AppUser.Surname | Tarih: @item.CreatedDate.ToString("dd-MMM-yyyy")</small>
            </p>
            <p class="card-text">@item.Detail.Substring(0, 250)...<a href="/Article/ArticleDetail/@item.ArticleId">Devamını Oku</a></p>
        </div>
    </div>
    }
</div>div>

 *@


@foreach (var item in Model)
{
    <div class="page-wrapper">
        <div class="blog-custom-build">
            <div class="blog-box wow fadeIn">
                <div class="post-media">
                    <a href="marketing-single.html" title="">
                        <img src="@item.CoverImageUrl" alt="" class="img-fluid">
                        <div class="hovereffect">
                            <span></span>
                        </div>
                        <!-- end hover -->
                    </a>
                </div>
                <!-- end media -->
                <div class="blog-meta big-meta text-center">


                    @* <div class="post-sharing">
                <ul class="list-inline">
                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                </div><!-- end post-sharing --> *@


                    <h4><a href="/Default/ArticleDetails/@item.ArticleId" title="">@item.Title</a></h4>

                    @if (item.Detail.Length >= 100)
                    {
                        <p>@item.Detail.Substring(0, 200)...<a href="/Default/ArticleDetails/@item.ArticleId">Devamını Oku</a></p>
                    }
                    else
                    {
                        <p>@item.Detail...<a href="/Default/ArticleDetails/@item.ArticleId">Devamını Oku</a></p>
                    }

                    <small><a href="marketing-category.html" title="">@item.Category.CategoryName</a></small>
                    <small><a href="marketing-single.html" title="">@item.CreatedDate</a></small>
                    <small><a href="#" title="">@item.AppUser.Name @item.AppUser.Surname</a></small>
                    @* <small><a href="#" title=""><i class="fa fa-eye"></i> 2291</a></small> *@
                </div><!-- end meta -->
            </div><!-- end blog-box -->



            <hr class="invis">
        </div>
    </div>

}

@* <hr class="invis"> *@