@model Article



@{
    var currentDate = DateTime.Now;
    var createdDate = Model.CreatedDate; // CreatedDate türü DateTime olmalı.
    var timeDifference = currentDate - createdDate;

    string timeAgoText;
    if (timeDifference.TotalDays >= 1)
    {
        timeAgoText = $"{(int)timeDifference.TotalDays} gün önce";
    }
    else if (timeDifference.TotalHours >= 1)
    {
        timeAgoText = $"{(int)timeDifference.TotalHours} saat önce";
    }
    else
    {
        timeAgoText = $"{(int)timeDifference.TotalMinutes} dakika önce";
    }
}




<div class="blog-title-area">
    <ol class="breadcrumb hidden-xs-down">
        <li class="breadcrumb-item"><a href="/Default/Index_">Ana Sayfa</a></li>
    </ol>

    <span class="color-yellow"><a href="/Default/Index_">@Model.Category.CategoryName</a></span>

    <h3>@Model.Title</h3>

    <div class="blog-meta big-meta">
        <small><a href="marketing-single.html" title="">@timeAgoText</a></small>

        <small><a href="blog-author.html" title="">@Model.AppUser.Name @Model.AppUser.Surname</a></small>
        @* <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small> *@
    </div><!-- end meta -->

</div><!-- end title -->

<div class="blog-content">
    <div class="pp">
    </div><!-- end pp -->


    <div class="pp">


        <p style="text-align: justify;">
            <img src="@Model.CoverImageUrl" class="float-left" width="680">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Detail
        </p>


    </div>


</div><!-- end content -->

<hr class="invis1">